@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Titillium+Web:wght@200&display=swap');

body {
    font-family: 'Titillium Web', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', Sans-Serif;
    font-weight: 700;
}

.navbar {
    background-color: rgba(0, 128, 128,0.95);
    box-shadow: 0 0.5rem 1rem RGB(0 0 0 / 18%), inset 0 -1px 0 RGB(0 0 0 / 15%);

    &-brand {
        color: white;

        &:hover {
            color: white;
        }
    }
}

article {

    & a {
        color: teal;
        text-decoration: none;

        &:hover {
            color: teal;
            text-decoration: underline;
        }
    }

    & h2 {

        & a {
            color: #333333;
            text-decoration: none;

            &:hover {
                color: teal;
            }
        }
    }

    & figure {

        &.post-figure {
            clear: both;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            max-width: 100%;
        }

        & .img-thumbnail {
            min-width: 200px;
        }
    }

    & .meta {

        line-height: 1.2;

        & .fas {
            color: teal;
        }
    }
}

.taxonomy-title {
    border-bottom: 3px solid teal;
}

.badge {
    background-color: teal;
    border: 1px solid transparent;
    line-height: 0.6rem;
    text-decoration: none;

    &:hover {
        background-color: white;
        color: teal;
        border: 1px solid teal;
        text-decoration: none;
    }
}


footer {

    & .logos {

        img { 
            height: 30px;
        }
    }
}