@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Titillium+Web:wght@200&display=swap');

body {
    font-family: 'Titillium Web', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', Sans-Serif;
    font-weight: 700;
}

.navbar {
    background-color: rgba(0, 128, 128,0.95);
    box-shadow: 0 0.5rem 1rem RGB(0 0 0 / 5%), inset 0 -1px 0 RGB(0 0 0 / 15%);

    &-brand {
        color: white;

        &:hover {
            color: white;
        }
    }
}

article {

    & .fas {
        color: teal;
    }

    & h2 {

        & a {
            color: #333333;
            text-decoration: none;

            &:hover {
                color: teal;
            }
        }
    }

    a {
        color: teal;
        text-decoration: none;

        &:hover {
            color: teal;
            text-decoration: underline;
        }
    }
}