@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Titillium+Web:wght@300;400;700;900&display=swap');

html, body {
    scroll-padding-top: 100px;
}

body {
    font-family: 'Titillium Web', Sans-Serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', Sans-Serif;
    font-weight: 700;
}

a {
    color: teal;
    text-decoration: none;

    &:hover {
        color: teal;
        text-decoration: underline;
    }
}

.navbar {
    background-color: rgba(0, 128, 128,0.95);
    box-shadow: 0 0.5rem 1rem RGB(0 0 0 / 18%), inset 0 -1px 0 RGB(0 0 0 / 15%);

    &-brand {
        color: white;

        &:hover {
            color: white;
        }
    }
}

.recent-posts {

    & ul {
        list-style: none;
        padding-left: 0;

        & li {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid #cdced0;

            &:first-of-type {
                border-top: 1px solid #cdced0;
            }
        }
    }
}

.table-of-contents {
    top: 7.5rem;
    z-index: 1;
}

article {

    & h2, h4 {

        & a {
            color: #333333;
            text-decoration: none;

            &:hover {
                color: teal;
            }
        }
    }

    & figure {

        &.post-figure {
            clear: both;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            max-width: 100%;
        }

        & .img-thumbnail {
            min-width: 200px;
        }
    }

    & .vimeo, .youtube {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-bottom: 1rem;

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    & .meta {

        line-height: 1.2;

        & .fas {
            color: teal;
        }
    }
}

.taxonomy-title {
    border-bottom: 3px solid teal;
}

.badge {
    background-color: teal;
    border: 1px solid transparent;
    line-height: 0.6rem;
    text-decoration: none;

    &:hover {
        background-color: white;
        color: teal;
        border: 1px solid teal;
        text-decoration: none;
    }
}

footer {

    & .logos {

        img { 
            height: 30px;
        }
    }

    & .social-links {
        
        & a {
            font-size: 2rem;
            color: white;

            &:hover {
                color: silver;
            }
        }
    }
}