{{ define "main" }}
<article class="post">
    {{ with .Params.featured_image }}
        <figure class="text-center">
            <img 
                class="img-fluid" 
                src="{{ $.Site.Params.cdn_base_url }}/w_{{ $.Site.Params.featured_image_single_width }}/{{ . }}" 
                alt="post-image"/>
        </figure>
    {{ end }}
    <header>
        <h1>{{ .Title }}</h1>
        {{ partial "post-meta.html" . }}
    </header>

    <section class="body">{{ .Content }}</section>

    <section class="related">
        {{ $related := .Site.RegularPages.Related . | first 5 }} 
        {{ with $related }}
            <h3>Related Pages</h3>
            <ul>
                {{ range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </section>

    <section>
        <h3>Comments</h3>
        {{ template "_internal/disqus.html" . }}
    </section>
</article>
{{ end }}

{{ define "sidebar" }}
{{ partial "table-of-contents.html" . }}
{{ end }}