{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        {{ partial "post-meta.html" . }}
    </header>

    <section class="body">{{ .Content }}</section>

    <section class="related">
        {{ $related := .Site.RegularPages.Related . | first 5 }} 
        {{ with $related }}
            <h3>Related pages</h3>
            <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </section>
</article>
{{ end }}
