<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "banner" . }}{{- end }}
        <div class="container-fluid p-4 p-md-5">
            <div class="row gx-5">
                <div class="col-12 col-md-8">
                    {{- block "main" . }}{{- end }}
                </div>
                <aside class="col-12 col-md-4 pb-4 pb-md-0">
                    {{- block "sidebar" . }}{{- end}}
                </aside>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
