<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container-fluid p-4">
            <div class="row gx-5">
                <div class="col-12 col-md-8">
                    {{- block "main" . }}{{- end }}
                </div>
                <div class="col-12 col-md-4">
                    {{ partial "tag-cloud.html" . }}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
