<article class="post">
    <header>
        <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="d-flex flex-column flex-sm-row">
        {{ with .Params.featured_image }}
            <figure class="me-3">
                <img 
                    class="img-thumbnail"
                    src="{{ $.Site.Params.cdn_base_url }}/w_{{ $.Site.Params.featured_image_list_width }}/{{ . }}.{{ $.Site.Params.featured_image_extension }}" 
                    alt="post-image"/>
            </figure>
        {{ end }}
        <div>
            {{ .Summary }}
        </div>
    </section>
    {{ partial "post-meta.html" . }}
</article>
<hr class="my-4">