<article class="post mb-5">
    <header>
        <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="d-flex flex-column flex-sm-row">
        {{ with .Params.featured_image }}
            <figure class="me-3">
                <img 
                    class="img-thumbnail"
                    src="{{ $.Site.Params.cloudinary_base_url }}/w_{{ $.Site.Params.featured_image_list_width }}/{{ . }}.{{ $.Site.Params.featured_image_extension }}" 
                    alt="post-image"/>
            </figure>
        {{ end }}
        <div>{{ .Summary }}
            <small>
                <a class="text-uppercase float-end" href="{{ .RelPermalink }}"><i class="fas fa-angle-double-right"></i> Continue reading</a>
            </small>
        </div>
    </section>
    {{ partial "post-meta.html" . }}
</article>