<small class="meta d-flex mb-3 text-muted">
    <div class="date me-3">
        <i class="fas fa-calendar-alt"></i>
        {{ .Date.Format "2 January 2006" }}
    </div>
    <div class="tags me-3">
        <i class="fas fa-tags"></i>
        {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    <div class="reading-time me-3">
        <i class="fas fa-clock"></i> {{ math.Round (div (countwords .Content) 200.0) }} minute read
    </div>
    <div class="author">
        <i class="fas fa-pen"></i> {{ .Params.author }}
    </div>
</small>